:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color: #213547;
  background-color: #ffffff;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9f9f9;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

label {
  font-size: 1.2em;
  margin-bottom: 10px;
  display: block;
}

.Select {
  margin-bottom: 20px;
  width: 300px;
}

.branch-info {
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #e9f7ef;
  border-radius: 5px;
  width: 90%;
  margin-top: 20px;
}

.branch-info h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.branch-info p {
  margin: 5px 0;
  font-size: 1.1em;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  body {
    background-color: #1a1a1a;
  }
  .branch-info {
    border: 1px solid #555;
    background-color: #2e2e2e;
  }
}

.Select__menu {
  color: black;
}

.Select__control {
  color: black;
}
